:root {
  --primary-blue: #233975;
}

body {
  font-family: 'Montserrat', sans-serif;
}

ul {
  font-weight: bold;
}

.display-4 {
  font-weight: 400;
}

.jumbotron {
  padding-top: 6rem;
  background-color: #ffe5b4;
}

#projects {
  padding-top: 8rem;
}

.inner {
  overflow: hidden;
}

.inner img {
  transition: all 1s ease;
}

.inner:hover img {
  transform: scale(1.1);
}

.Footer {
  padding-top: 1rem;
  padding-bottom: 4rem;
  background-color: #ffe5b4;
}

section {
  padding-top: 5rem;
}
